
$myColor: rgb(66, 66, 66);

h2 {
  color: $myColor;
}
.product {
    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        &:nth-child(2n + 1) {
            background-color: red;
        }        
    }
    &__item{
        color: $myColor;
        padding: .2rem 0;
    }
    
}