.form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 320px;
    padding: .5rem;
    &__button{
        color: #fff;
        line-height: 2rem;
        font: inherit;
        background-color: #6b72f0;
        padding: 0.4rem .8rem;
        border-radius: .3rem;
        outline: none;
        border: 1px solid transparent;
        margin-left: .5rem;

       
        &:hover , &:focus-visible , &:focus{
            border-color: #6b72f0;
    
        } 
    } 
    
    &__input{
        display: block;
        width: 100%;        
        border-radius: .3rem;
        background-color: transparent;
        outline: none;
        line-height: 2rem;
        border: 2px solid #616161;
       
    }
}


button {
    
  }
  button:hover {
    
  }
  button:focus,
  button:focus-visible {
  }